[submodule "Engine"]
	path = Engine
	url = https://github.com/OpenSourceRisk/Engine.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "json-schema-validator"]
	path = json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "pybind11_json"]
	path = pybind11_json
	url = https://github.com/pybind/pybind11_json.git
[submodule "nanobench"]
	path = nanobench
	url = https://github.com/martinus/nanobench.git
