[submodule "Engine"]
	path = Engine
	url = https://github.com/jmelo11/Engine.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "json-schema-validator"]
	path = json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
